<div
*ngIf="inputModel">
    <div class="border-bottom py-2">

        <div class="row align-items-center">
            <label class="col-6"> Id </label>
            <input readonly class="col form-control" [(ngModel)]="inputModel.id">
        </div>
        <div class="row align-items-center">
            <label 
            class="col-6"
            [title]="inputModel.articleId"> Article </label>
            <select
            *ngIf="articleList"
            class="col form-control"
            [(ngModel)]="inputModel.articleId">
                <option
                *ngFor="let article of articleList"
                [ngValue]="article.id">
                    {{article.name}}
                </option>
            </select>
        </div>
        <div class="row align-items-center">
            <label class="col-6"> Price </label>
            <app-input-price 
            class="col m-0 p-0" 
            [(inputModel)]="inputModel.price"> 
            </app-input-price>
        </div>
    </div>
</div>

<p
*ngIf="!inputModel">
    missing argument 'inputModel'
</p>