
    <div class="row align-items-center">
        <label class="col"> CountryCode </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.countryCode">

    </div>
    <div class="row align-items-center">
        <label class="col"> Zip Code </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.zipCode">

    </div>
    <div class="row align-items-center">
        <label class="col"> State </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.state">

    </div>
    <div class="row align-items-center">
        <label class="col"> City </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.city">

    </div>
    <div class="row align-items-center">
        <label class="col"> Street </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.street">

    </div>
    <div class="row align-items-center">
        <label class="col"> House Number </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.houseNumber">

    </div>
    <div class="row align-items-center">
        <label class="col"> Recipient </label>

        <input 
        class="col form-control"
        [(ngModel)]="inputModel.recipient">

    </div>
