
    <div class="row align-items-center">
        <div class="col"> CountryCode </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.countryCode">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> Zip Code </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.zipCode">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> State </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.state">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> City </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.city">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> Street </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.street">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> House Number </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.houseNumber">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col"> Recipient </div>
        <div class="col">
            <input 
            class="form-control"
            [(ngModel)]="inputModel.recipient">
        </div>
    </div>
