<div 
*ngIf="inputModel"
class="row m-0 p-0 align-items-center">
    <input
    #inputPrice
    [(ngModel)] = "inputModel.amount"
    class="form-control col"
    placeholder="Price"
    type="number"
    required
    min="0.00" 
    max="1000000.00" 
    step="0.01" />
    <span class="col px-0"> 
        <select
        class="form-control"
        [(ngModel)]="inputModel.currency">
            <option 
            *ngFor="let c of _currencyType"
            [ngValue]="c">
                {{c}}
            </option>
        </select>
    </span>
</div>

<p
*ngIf="!inputModel">
    missing argument 'inputModel'
</p>