<div class="container">
    <h2>Order Details</h2>
    <div 
    class="container"
    *ngIf="order">
        <div class="row align-items-center">
            <label class="col-6"> Id </label>

            <input 
            readonly 
            class="col form-control"
            value="{{order.id}}">

        </div>
        <div class="row align-items-center">
            <label class="col-6"> Customer Id </label>

            <select
            class="col form-control"
            [(ngModel)]="order.customerId">
                <option
                *ngFor="let customer of customerList"
                [ngValue]="customer.id">
                    {{getCustomerName(customer.id)}}
                </option>
            </select>

        </div>
        <div class="row align-items-center">
            <label class="col-6"> Order Type </label>
       

            <select 
            class="col-6 p-0 form-control"
            [(ngModel)]="order.orderType">
                <option
                class=""
                *ngFor="let opt of _orderType"
                [ngValue]="opt">{{opt}}</option>
            </select>

        </div>

        <div class="row align-items-center">
            <label class="col-6"> Date </label>
       

            <input 
            class="col form-control"
            type="datetime"
            [(ngModel)]="order.date">


        </div>

        <div class="row align-items-center">
            <label class="col-6"> Order Status </label>
       

            <select 
            class="col form-control"
            [(ngModel)]="order.orderStatus">
                <option
                *ngFor="let opt of _orderStatus"
                [ngValue]="opt">{{opt}}</option>
            </select>


        </div>

        <div class="row align-items-center mt-2">
            <h5 class="col-6"> Items </h5>
        </div>

        <app-input-item
        *ngFor="let _ of order.items; let i=index"
        [(inputModel)]="order.items[i]">
        </app-input-item>

        <div class="row mt-1 justify-content-center">
            <button
            class="col-3 btn btn-lg btn-default p-0"
            type="button"
            (click)="addItem()">
                <span 
                class="col-12 badge badge-primary badge-pill align-text-center"
                title="Add Item">
                    +
                </span>
            </button>
        </div>

        <div class="row align-items-center mt-2">
            <h5 class="col"> Billing Address</h5>
        </div>
        <app-input-address 
        [(inputModel)]="order.billingAddress">
        </app-input-address>
        
        <div class="row align-items-center mt-2">
            <h5 class="col">Delivery Address</h5>
        </div>
        <app-input-address 
        [(inputModel)]="order.deliveryAddress">
        </app-input-address>
       
        <div class="row align-items-center mt-2">
            <label class="col-6"> Comments </label>

            <textarea 
            class="col form-control"
            [(ngModel)]="order.comments">
            </textarea>

        </div>


        <button 
        class="btn btn-primary my-3"
        (click)="save(); goBack()">Save</button>
    </div>

    <div class="container text-center">
        <img 
        *ngIf="!order"
        class="m-5 text-center"
        src="assets/spinner.gif">
    </div>
</div>
