<div class="container">
    <div *ngIf="customerList">
        <h2> Customers </h2>
        <div class="container">
            <div class="row bg-dark text-white mb-2">
                <div class="col-1">Id</div>
                <div class="col">First Name</div>
                <div class="col">Last Name</div>
            </div>
            <div
            *ngFor="let customer of customerList"
            routerLink="/customer/details/{{customer.id}}"
            class="row clickable-row border-bottom">
                <div class="col-1">{{customer.id}}</div>
                <div class="col">
                    <a>
                        {{customer.firstName}}
                    </a>
                </div>
                <div class="col">
                    <a>
                        {{customer.lastName}}
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="container text-center">
        <img 
        *ngIf="!customerList"
        class="m-5 text-center"
        src="assets/spinner.gif">
    </div>
</div>
