<div class="container" *ngIf="customer">

    <h1>{{customer.firstName}} {{customer.lastName}}</h1>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">Id</div>
            <div class="col">
                <input 
                readonly
                class="form-control"
                value={{customer.id}}>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">First Name</div>
            <div class="col">
                <input 
                class="form-control"
                [(ngModel)]="customer.firstName">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">Last Name</div>
            <div class="col">
                <input 
                class="form-control"
                [(ngModel)]="customer.lastName">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">Phone</div>
            <div class="col">
                <input 
                class="form-control"
                [(ngModel)]="customer.phone">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">Email</div>
            <div class="col">
                <input 
                class="form-control"
                [(ngModel)]="customer.email">
            </div>
        </div>
        <div class="row align-items-center mt-2">
            <div class="col"><h5>Billing Address</h5></div>
        </div>
        <app-input-address
        [(inputModel)]="customer.billingAddress">
        </app-input-address> 

        <div class="row align-items-center mt-2">
            <div class="col"><h5>Delivery Address</h5></div>
        </div>
        <app-input-address
        [(inputModel)]="customer.deliveryAddress">
        </app-input-address> 
        
        <div class="row align-items-center mt-2">
            <div class="col"><h5>Orders</h5></div>
        </div>
        <div 
        *ngFor="let orderId of customer.ordersIds; let i = index"
        class="row align-items-center">
            <div class="col">
                <input 
                class="form-control"
                [(ngModel)]="customer.ordersIds[i]">
            </div>
        </div>

  
        <button
        class="btn btn-primary my-3"
        (click)="save(); goBack()">
            Save
        </button>
    </div>

</div>

<div class="container text-center">
    <img 
    *ngIf="!customer"
    class="m-5 text-center"
    src="assets/spinner.gif">
</div>