<div class="container" *ngIf="customer">

    <h1>{{customer.firstName}} {{customer.lastName}}</h1>
    <div class="container">
        <div class="row align-items-center">
            <label class="col">Id</label>

            <input 
            readonly
            class="col form-control"
            value={{customer.id}}>

        </div>
        <div class="row align-items-center">
            <label class="col">First Name</label>

            <input 
            class="col form-control"
            [(ngModel)]="customer.firstName">

        </div>
        <div class="row align-items-center">
            <div class="col">Last Name</div>

            <input 
            class="col form-control"
            [(ngModel)]="customer.lastName">

        </div>
        <div class="row align-items-center">
            <label class="col">Phone</label>

            <input 
            class="col form-control"
            inputmode="tel"
            [(ngModel)]="customer.phone">

        </div>
        <div class="row align-items-center">
            <label class="col">Email</label>

            <input 
            class="col form-control"
            inputmode="email"
            [(ngModel)]="customer.email">

        </div>
        <div class="row align-items-center mt-2">
            <h5 class="col">Billing Address</h5>
        </div>
        <app-input-address
        [(inputModel)]="customer.billingAddress">
        </app-input-address> 

        <div class="row align-items-center mt-2">
            <h5 class="col">Delivery Address</h5>
        </div>
        <app-input-address
        [(inputModel)]="customer.deliveryAddress">
        </app-input-address> 
        
        <div class="row align-items-center mt-2">
            <h5 class="col">Orders</h5>
        </div>
        <div 
        *ngFor="let orderId of customer.ordersIds; let i = index"
        class="row align-items-center">
            <select
            class="col form-control"
            [(ngModel)]="customer.ordersIds[i]">
                <option 
                *ngFor="let order of orderList"
                [value]="order.id"
                [ngValue]="order.id">
                    {{getDate(order.date)}}
                    <div
                    *ngIf="articleList">
                        <span 
                        *ngFor="let item of order.items">
                            {{getArticleString(item.articleId)}}
                        </span> 
                    </div>
                    [id:{{order.id}}]
                </option>
            </select>

        </div>

        <div class="row">

            <button
            class="col btn btn-primary m-3"
            (click)="save(); goBack()">
                Save
            </button>
            
            <button
            class="col btn btn-warning m-3"
            routerLink="/order/details/{{getMaxOrderId()+1}}"
            (click)="save(); createOrder()">
                Add new Order
            </button>

        </div>







        <app-modal-info
        header="Invalid input"
        id="myModalInfo"
        textDismiss="Leave anyway"
        textAccept="Stay"
        [status]="modalStatus">
            <p> Changes have not been saved. There are still mandatory values missing </p>
        </app-modal-info>







    </div>

</div>


<app-loading *ngIf="!customer"></app-loading>
